<!-- <app-ma4jay3></app-ma4jay3> -->


<!-- <button (click)="actionBarNumber1=100">changeActionBarNumber1</button>
<button (click)="actionBarNumber2=0">changeActionBarNumber2</button>
<button (click)="actionBarNumber3=400">changeActionBarNumber3</button> -->

<div class="contrainer"
>
  <header class="contrainer_header">
      <span [routerLink]="['home']">
        home
      </span>
      <span [routerLink]="['student']">
        student
      </span>
      <span [routerLink]="['add']">
        add student
      </span>
  </header>
  <main class="contrainer_main">
    hello github
      <router-outlet></router-outlet>
  </main>
</div>